
/* .main */
.main {
	margin: auto;
	width: 50%;
}

/* ----media queries----- */

/* --Tablet-- */

@media(min-width: 641px) and (max-width: 1000px) {
	.main{
		width: 90%;
	}
}
/* --Tablet-- */

@media(max-width: 640px) {
	.main{
		width: 90%;
	}
}