/* --------------------- ESTILOS PARA EL ARTICULO PRINCIPAL ------------------------- */	
.article {
	font-family: 'Lato', sans-serif;
}

	.article__title {
		color:#ff8da1;
		font-family: 'Signika', sans-serif;
		font-size: 2.5em;
		margin-bottom: 35px;
	}

	.article__rrss {
		margin-bottom: 63px;
		margin-top: 55px;
	}

	.article__img-1 {
		margin-top:24px;
	}

	.article__caption {
		color: #928595 !important;
		font-style: italic;
		margin-bottom: 50px;
		margin-top:15px;
	}

	.article__date, .article__rrss, .article__tags {
		color: #928595 !important;
	}

	.article__tags {
		margin-bottom: 84px;
	}


	.article p, .comments p {
		color: #49334f;
		font-size: 18px;
	}

	.article__rrss--end {
		margin-bottom: 47px;
		margin-top:83px;
	}

	.article__tags-text, .article__rrss-text  {
		color: #928595 !important;
		display: inline;
		width: 30%;
	}

	.article__rrss__icon, .article__tags__words {
		display: inline;
		font-size: 18px;
	}



/* --- ESTILOS PARA LOS ICONOS RRSS SUPERIORES --- */	

	.social-media__icon1 {
		height: 35px;
		width: 7%;
		
	}

	.social-media__icon__img1 {
		height: 30px;
		width: 6%;

	}

/* --- ESTILOS PARA LOS ICONOS RRSS FINALES --- */	
	.social-media__icon {
		height: 50px;
		width: 10%;
	}

	.social-media__icon__img {
		height: 40px;
		width: 8%;
	}



/* --------------------- ESTILOS PARA LA PARTE DE LOS COMENTARIOS ------------------------- */	

.comments {
	font-family: 'Lato', sans-serif;
	font-size:  18px;
}

	.comments__title {
		margin-bottom: 30px;
	}

	.comments__fill {

		margin-left: 30px;
	}

	.comments__fill-input {
		width: 50%;
		color:#928595;
		font-style:italic;
		border:none;
	}
		.comments__fill-input:focus {
			outline: 0px;
		}

	.comments__privacy {
		color:#928595;
		font-style:italic;
		margin-bottom: 48px;
	}

		.comments__privacy a {
			color:#928595;
			text-decoration: underline;
		}

	.comments__testimonies {
		margin-bottom: 80px;
	}

		.comments__testimonies-first {
			margin-bottom: 70px;
		}

		.comments__testimonies__name-date {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			align-items: center;
		}
			.comments__testimonies__name {
				color:#ff8da1 !important;
				margin-bottom: 30px;
			}

			.comments__testimonies__date {
				color: #928595 !important;
			}

			.comments__number {
				margin-bottom: 40px;
				margin-top:47px;
			}

	.hr {
		background-color: #928595;
		border:none;
		height: 6px;
		margin-bottom:0px 0px 30px 0px;
	}

	.hr--end {
		margin-bottom: 80px;
		margin-top: 40px;
	}

	.hr--middle {
	  margin-left: 15px;
	}


	.middle__next:hover {
		background-color: #ff8da1;
		color: #fff;
	}

	 .middle__next {
		top:-40px;
		position: relative;
		border: solid 5px #FF8DA1;
		color:#ff8da1;
		font-weight: bold;
		margin-right: 15px;
		padding:15px;
		text-align: center;
	}

		.middle__next::after {
			content: '';
			position:absolute;
			right: 15px;
			width: 100%;
			height: 100%;
			background: url('../img/next-pattern-03.svg') no-repeat;
		}

		.middle__next::before {
			content: '';
			position:absolute;
			left: 15px;
			width: 100%;
			height: 100%;
			background: url('../img/next-pattern-03.svg') no-repeat;
			-moz-transform: scaleX(-1); 
			-o-transform: scaleX(-1); 
			-webkit-transform: scaleX(-1); 

		}

img {
	max-width: 100%;
}
.bold {
	font-weight: bold;
}

/* -------------- ESTILOS PARA LA COLUMNA ASIDE ------------------*/

.aside {
	background-color: #efe9da;
	color: #49334f;
	padding:30px 23px;
	position: relative;
}

.aside::after {
	content: '';
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 10px;
	background: url('../img/aside-pattern.svg') repeat-x center center;
	
}

.aside::before{
	content: '';
	position: absolute;
	top: -5px;
	left: 0;
	width: 100%;
	height: 10px;
	background: url('../img/aside-pattern.svg') repeat-x center center;
	
}
	
	.aside p {
		color: #928595;
	}

	.aside__search {
		margin-bottom: 30px;
	}


	.aside__fill {
		background-color: #efe9da;
		color:#928595;
		font-style:italic;
		width: 100%;
		padding-left: 10px;
		padding-right: 10px;
		font-size: 14.5px;
		border:none;
	}
	.aside__fill:focus {
		outline: 0px;
	}

	.hr--aside {
		margin-bottom: 30px;
		margin-top:0px;
	}

	.aside__hr-dotted {
		border-top: 10px dotted white;
  		width: 125%;
  		position: relative;
  		margin-left: -26px;
	}

	.aside__last-post {
		margin-bottom: 30px;
	}

	.aside__last-post, .aside__tags {
		margin-top:30px;
	}

	.aside__last-post p, .aside__tags p {
		margin-bottom: 15px;
	}

/* ------------------media queries------------------------------ */



	/* --Tablet-- */

@media (max-width: 1201px) {
	.next {
			font-size: .9em;
		}

	.aside {
	margin-bottom: 62px;
	}
}

	/* --movil-- */

@media (max-width: 767px){
	.article__title {
		font-size: 2.2em;
		margin-bottom: 30px;
	}

	.article__rrss {
		margin-bottom: 60px;
		margin-top: 50px;
	}

	.article__rrss__icon {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
	}

	.article__rrss--end {
		margin-bottom: 40px;
		margin-top: 44px;
	}

	.article__rrss-text {
		display: block;;
		margin-bottom: 22px;
	}

	.social-media__icon {
		height: 40px;
		width: 35%;
		
	}

	.social-media__icon__img {
		height: 35px;
		width: 30%;

	}

	.article__tags-text {
		display: block;
	}

	.middle {
		margin-bottom: 30px;
	}

	.middle__next {
			margin:auto;
			max-width: 45%;
			padding:15px;
			text-align: center;
			top:0px;
		}

	.comments__fill, .comments__privacy {
		text-align: center;
	}

	.comments__testimonies__name-date {
			display:block;
	}

		.comments__testimonies__name {
			margin-bottom: 20px;
		}

		.comments__testimonies__date {
			margin-bottom: 30px;
			margin-top: 0px;
		}

	.hr--middle {
		margin:17px 15px 33px 15px;
	}

}


